<style>
  .site-header__logo img {
    max-width: {{ section.settings.logo_width | escape | default: '180' | remove: 'px' | append: 'px' }};
  }
  @media screen and (max-width: 749px) {
    .site-header__logo img {
      max-width: 100%;
    }
  }
</style>

<header class="site-header" role="banner" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="grid grid--no-gutters grid--table site-header__inner">
    <div class="grid__item one-third medium-up--one-sixth">
      <button type="button" class="site-header__link text-link site-header__toggle-nav js-drawer-open-left">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'layout.navigation.menu' | t }}</span>
      </button>
    </div>
    <div class="grid__item one-third medium-up--two-thirds">

      {% comment %}
        Use the uploaded logo from theme settings if enabled.
        Site name gets precedence with H1 tag on homepage, div on other pages.
      {% endcomment %}
      {% if template.name == 'index' %}
        <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="site-header__logo h1" itemscope itemtype="http://schema.org/Organization">
      {% endif %}

        {% if section.settings.logo != blank %}
          <a href="/" itemprop="url" class="site-header__logo-link text-center">
            {% capture image_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
            <img class="site-header__logo-image" src="{{ section.settings.logo | img_url: image_size }}"
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" alt="{{ shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="/" class="site-header__link site-header__logo-link" itemprop="url">{{ shop.name }}</a>
        {% endif %}

      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

    </div>

    <div class="grid__item one-third medium-up--one-sixth text-right">
      <a href="/search" class="site-header__link site-header__search js-drawer-open-top">
        <span class="icon icon-search" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
      </a>
      <a href="/cart" class="site-header__link site-header__cart cart-link{% if settings.cart_type == 'drawer' %} js-drawer-open-right{% endif %}{% if cart.item_count > 0 %} cart-bubble--visible{% endif %}">
        <span class="icon icon-cart" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
      </a>
    </div>
  </div>
</header>



{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "pt-BR": "Cabeçalho"
  },
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Logo",
        "en": "Logo",
        "es": "Logotipo",
        "fr": "Logo",
        "it": "Logo",
        "ja": "ロゴ",
        "pt-BR": "Logotipo"
      }
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Imagen del logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "pt-BR": "Imagem do logotipo"
      },
      "info": {
        "de": "Maximal 450 x 200 Pixel",
        "en": "450 x 200px max",
        "es": "450 x 200px máx.",
        "fr": "450 x 250 px max",
        "it": "450 x 200 px max",
        "ja": "最大450 x 200ピクセル",
        "pt-BR": "450 x 200 px máx."
      }
    },
    {
      "type": "text",
      "id": "logo_width",
      "label": {
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "pt-BR": "Largura do logotipo personalizado (em pixels)"
      },
      "default": {
        "de": "180",
        "en": "180",
        "es": "180",
        "fr": "180",
        "it": "180",
        "ja": "180",
        "pt-BR": "180"
      }
    }
  ]
}
{% endschema %}
