<header class="password-header" role="banner">
  <div class="password-logo">
    {% if section.settings.logo %}
      <a href="/" itemprop="url" class="site-header__logo-image">
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      </a>
    {% else %}
      <h1 class="h2">
        <span class="logo">{{ shop.name }}</span>
      </h1>
    {% endif %}
  </div>
</header>



{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "pt-BR": "Cabeçalho"
  },
  "class": "password-header-section password-page-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Imagen del logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "pt-BR": "Imagem do logotipo"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "pt-BR": "Largura do logotipo personalizado (em pixels)"
      },
      "default": {
        "de": "100",
        "en": "100",
        "es": "100",
        "fr": "100",
        "it": "100",
        "ja": "100",
        "pt-BR": "100"
      }
    }
  ]
}
{% endschema %}
