<div itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product" data-history-state>

<!-- 	Size Chart Modal   -->
    <div class="size-chart-modal">

        <img src="{{ "size-chart-womens-flowy.png" | asset_img_url: '500x'}}" class="size-chart-image size-chart-image-womens">
        <img src="{{ "size-chart-unisex.png" | asset_img_url: '500x'}}" class="size-chart-image size-chart-image-unisex">
        <button class="size-chart-close size-chart"><img src="{{ 'X.png' | asset_img_url: '300x' }}" /></button>
      </div>
    </div>
<!--  Closing Size Chart Modal  -->
  
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% comment %}
    Get first image
  {% endcomment %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

  {% comment %}
    Get the text and link for the back button
  {% endcomment %}
  {% assign back_url = '/' %}
  {% assign back_text = 'products.product.back' | t %}
  {% if collection %}
    {% assign back_url = collection.url %}
    {% assign back_text = collection.title %}
  {% endif %}

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ featured_image | img_url: 'grande' }}">
  <meta itemprop="name" content="{{ product.title }}{% if product.variants.size > 1 and product.selected_variant %} - {{ current_variant.title }}{% endif %}">

  <div class="product grid grid--uniform grid--no-gutters" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    {% assign first_image = featured_image %}

    {% if product.images.size > 1 and section.settings.skip_first_product_image and first_image == product.featured_image %}
      {% assign first_image = product.images[1] %}
    {% endif %}

    {% comment %}
      Set variables for product image grid
    {% endcomment %}
    {% if section.settings.product_image_type == 'portrait' %}
      {% if product.images.size == 1 %}
        {% assign grid_item_width = '' %}
      {% elsif product.images.size == 2 and section.settings.skip_first_product_image %}
        {% assign grid_item_width = '' %}
      {% else %}
        {% assign grid_item_width = 'medium-up--one-half' %}
      {% endif %}
      {% assign is_portrait_image = true %}
    {% else %}
      {% assign grid_item_width = '' %}
    {% endif %}

    
{{'product-slider-style.css' | asset_url | stylesheet_tag }}
{{'jquery-3.0.0.min.js' | asset_url | script_tag }}

    
    {% if product.images.size > 0 %}

        <div class="container-large">
            <img src="{{ "left-arrow.png" | asset_img_url: '300x'}}" class="left-button">
            <img src="{{ "right-arrow.png" | asset_img_url: '300x'}}" class="right-button">
          
          <div class="container-small">
            <ul class="slider-list">  
            {% for image in product.images %}
                <li>
                  <img 
                     src="{{ image | img_url: '500x' }}" 
                     class="image lazyload" 
                     alt="{{image.alt | escape}}"
                     data-src="{{ img_url }}"
                     data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                     data-aspectratio="{{ image.aspect_ratio }}"
                     data-sizes="auto"
                  >
                  <p class="text">{{ image.alt }}</p>
                </li>
              {% endfor %}
            </ul>

          </div> <!-- Closing Container-Small -->
          
        </div> <!-- Closing Container-Large -->

        <script>
          
          var product = {}
          
          product.imageSlider = function() {
            var slider_index = 0; // current index position
            var slider_length = $('.image').length // length of the slider based on number of items
            var windowWidth = $(window).width() // screen size

            // triggers the slider to move to the left
            $('.left-button').on('click', function(){
              slider_index--;
              // if index is at start when button is pushed, jump to the end
              if(slider_index < 0) { 
                slider_index = slider_length - 1;
              }
              nextSlide(slider_index)
            })


            // triggers the slider to move to the right
            $('.right-button').on('click', function() {
                slider_index++;
              // if index is at end when button is pushed, jump to the start
              if(slider_index > slider_length - 3 && windowWidth >= 1100) {
                  slider_index = 0;
                }
              else if (slider_index > slider_length - 2 && windowWidth < 1100 && windowWidth > 800) {
                slider_index = 0;
              }
              else if(slider_index > slider_length - 1 && windowWidth <= 800) {
                slider_index = 0;
              }
                nextSlide(slider_index)
            })

            function nextSlide(new_index) {
              var transform_pct = new_index + "00%"
              // moves the product images and alt text through CSS
              $('.image').css({'transform': 'translatex(-' + (transform_pct) + ")", 'transition': '0.3s'})
              $('.text').css({'transform': 'translatex(-' + (transform_pct) + ")", 'transition': '0.3s'}) 
            } 
            
          }
          
    product.sizeChartFeatures = function() {
            $('.size-chart-button').on('click', function() {
              $('.size-chart-modal').toggle({'display': 'block'})
              if ($('.size-chart-button').hasClass('size-chart-button-womens')) {
                  $('.size-chart-image-womens').css({'display': 'block'})                
              }
              else {
                  $('.size-chart-image-unisex').css({'display': 'block'})                
              }
            });

            $('.size-chart-close').on('click', product.closeModal)
            $('.size-chart-modal').on('click', product.closeModal)
          }
          
          product.closeModal = function() {
            $('.size-chart-modal').css({'opacity': '0', 'transition': '0.3s'})
            
            setTimeout( function() {
              $('.size-chart-modal').css({'display': 'none', 'opacity': '1', 'transition': '0s'})
            }, 300);
          }
    
          product.init = function() {
            product.imageSlider();
              product.sizeChartFeatures();
          }
          
          $(function(){
            product.init();          
          });

          
        </script>
          
          

        <noscript>
          <img class="product__photo--variant" src="{{ first_image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
        </noscript>
      </div>

      

    {% endif %}

    <div class="product__details grid__item">
      <div class="grid grid--no-gutters product__details-content">
        <div class="grid__item {% if section.settings.product_form_width == 'large' %}medium-up--three-twelfths medium-up--push-one-fifth{% else %}large-up--two-twelfths large-up--push-two-twelfths medium-up--three-twelfths medium-up--push-one-twelfth{% endif %}">
          {% if section.settings.show_vendor %}
            <p class="product-item__vendor small--text-center">{{ product.vendor }}</p>
          {% endif %}
          <h2 itemprop="name">{{ product.title }}</h2>
<!--     Paste - Moving Pricing Upwards      -->
          {% assign price = current_variant.price | money_without_trailing_zeros %}
            <p class="product__price">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
              {% else %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="product__price--reg js-price">
                  {{ price }}
                </span>
              {% endif %}
            </p>
<!--      End paste      -->
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
          {%- capture 'form_id' -%}AddToCartForm-{{ section.id }}{%- endcapture -%}
          {%- capture 'form_class' -%}
            product__form--add-to-cart{% if section.settings.product_form_width == 'large' %} product__form--full-width{% endif %}
          {%- endcapture -%}
<!--             Adding Sizing Chart Button                  -->
          {% case product.title %}
          	{% when 'H&H Womens Flowy Long Sleeve' %}
	          	<div class="size-chart-button size-chart-button-womens grid__item"><a>View Sizing Chart</a></div> 
			{% when 'H&H Unisex 3/4 Sleeve' or 'H&H Unisex 3/4 Sleeve Original' or 'H&H Unisex Hoodie' or 'H&H Unisex Hoodie Original' or 'H&H Unisex Long Sleeve' or 'H&H Unisex Sweater' or 'H&H Unisex Sweater Original' or 'H&H Unisex T-Shirt' or 'H&H Unisex T-Shirt Original' or 'H&H Unisex T-Shirt White Logo' or 'H&H Unisex Tank' %}
                <div class="size-chart-button size-chart-button-unisex"><a>View Sizing Chart</a></div>
          {% endcase %}
<!--             End Sizing Chart Button                     -->
          
          {% form 'product', product, id:form_id, class:form_class %}
            {% comment %}
              Select element hidden when JS initializes. Safeguard for JS-disabled.
            {% endcomment %}
            <select name="id" id="ProductSelect-{{ section.id }}">
              {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
              {% endfor %}
            </select>


            {% if section.settings.show_quantity_selector %}
              <div class="product__quantity quantity-wrapper">
                <label for="Quantity" class="product__quantity-label">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity"
                  class="quantity-input"
                  name="quantity" value="1" min="1">
              </div>
            {% endif %}

            {% if product.available %}
              <button id="AddToCart-{{ section.id }}" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                <span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            {% else %}
              <button type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                {{ 'products.product.sold_out' | t }}
              </button>
            {% endif %}
            {% if section.settings.enable_payment_button %}
              {{ form | payment_button }}
            {% endif %}

          {% endform %}
        </div>
        <div class="grid__item {% if section.settings.product_form_width == 'large' %}medium-up--four-twelfths medium-up--push-three-tenths{% else %}large-up--one-half large-up--push-three-twelfths medium-up--six-twelfths medium-up--push-two-twelfths{% endif %}">
          <div class="product-single__errors"></div>
          <div class="product-single__description rte" itemprop="description">
            {{ product.description }}
          </div>
          {% if section.settings.social_sharing_products %}
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
        </div>
      </div>
    </div>

    {% comment %}
      Show second product photo after description on mobile if
      image setting style is 'portrait'
    {% endcomment %}
    {% if is_portrait_image and product.images.size > 1 %}
      <div class="product__photo grid__item medium-up--hide {{ grid_item_width }}">
        <noscript>
          <img src="{{ duplicate_image | img_url: '2048x2048' }}" alt="{{ duplicate_image.alt | escape }}">
        </noscript>
        {% assign img_url = duplicate_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <div class="product__photo--single" style="padding-top:{{ 1 | divided_by: duplicate_image.aspect_ratio | times: 100}}%;">
          <img class="lazyload"
            src="{{ duplicate_image | img_url: '300x' }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
            data-aspectratio="{{ duplicate_image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ duplicate_image.alt | escape }}">
        </div>
      </div>
    {% endif %}

    {% comment %}
      Show other product images below product info if there's any left to show
    {% endcomment %}
    {% if index < product.images.size %}
      {% for image in product.images offset:index_offset %}
        {% unless image == first_image %}
          {% unless section.settings.skip_first_product_image and image == product.featured_image %}
            <div class="product__photo grid__item {{ grid_item_width }}">
              <noscript>
                <img src="{{ image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
              </noscript>
              {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <div class="product__photo--single" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                <img class="lazyload"
                  src="{{ image | img_url: '300x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ image.alt | escape }}">
              </div>
            </div>
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="back-button grid">
    <div class="grid__item"></div>
      <a href="{{ back_url }}" class="btn back-button__link">
        <span class="icon icon-arrow-left" aria-hidden="true"></span>
        <span>{{ back_text }}</span>
      </a>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "de": "Produkt",
    "en": "Product",
    "es": "Producto",
    "fr": "Produit",
    "it": "Prodotto",
    "ja": "商品",
    "pt-BR": "Produto"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "skip_first_product_image",
      "label": {
        "de": "Das erste Produktbild überspringen",
        "en": "Skip first product image",
        "es": "Omitir la primera imagen del producto",
        "fr": "Sauter la première image du produit",
        "it": "Salta prima immagine prodotto",
        "ja": "最初の商品画像をスキップする",
        "pt-BR": "Ignorar a primeira imagem do produto"
      },
      "info": {
        "de": "Lassen Sie das erste Bild für jedes Produkt nur auf der Kategorieseite Ihres Shops anzeigen. [Mehr erfahren](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "en": "Make the first image for each product only appear on the collections page of your store. [Learn more](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "es": "Haz que la primera imagen de cada producto aparezca sólo en la página de colecciones de tu tienda. [Más información](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "fr": "Faites en sorte que la première image de chaque produit apparaisse uniquement à la page des collections de votre boutique. [Learn more](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "it": "Fai apparire la prima immagine di ogni prodotto solo sulla pagina delle collezioni del tuo negozio. [Maggiori informazioni](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "ja": "各商品の最初のイメージをストアのコレクションページにのみ表示するようにします。[詳しくはこちら](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)",
        "pt-BR": "Faça com que a primeira imagem de cada produto apareça apenas na página de coleções de sua loja. [Saiba mais](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)."
      }
    },
    {
      "type": "select",
      "id": "product_image_type",
      "label": {
        "de": "Bildstil",
        "en": "Image style",
        "es": "Estilo de imagen",
        "fr": "Style d'image",
        "it": "Stile immagine",
        "ja": "画像スタイル",
        "pt-BR": "Estilo da imagem"
      },
      "options": [
        {
          "value": "portrait",
          "label": {
            "de": "Hoch/Quadrat",
            "en": "Tall/square",
            "es": "Alta/cuadrada",
            "fr": "Grand/carré",
            "it": "Verticale/quadrata",
            "ja": "縦長/正方形",
            "pt-BR": "Alto/quadrado"
          }
        },
        {
          "value": "landscape",
          "label": {
            "de": "Breit",
            "en": "Wide",
            "es": "Ancho",
            "fr": "Large",
            "it": "Orizzontale",
            "ja": "横長",
            "pt-BR": "Grande"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fr": "Afficher le distributeur",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "pt-BR": "Exibir fornecedor"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "pt-BR": "Exiba um seletor de quantidade"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "social_sharing_products",
      "label": {
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable product sharing",
        "es": "Habilitar compartir productos",
        "fr": "Activer le partage de produits",
        "it": "Permetti condivisione del prodotto",
        "ja": "商品の共有を有効にする",
        "pt-BR": "Habilite o compartilhamento de produtos"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "pt-BR": "Exibir botão dinâmico de finalização da compra"
      },
      "info": {
        "de": "Lässt Kunden direkt bezahlen mit bekannten Bezahlmethoden. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Permite a los clientes pagar directamente usando un método de pago familiar. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Permettez à vos clients de passer à la caisse avec un moyen de paiement qui leur est familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Fai in modo che i clienti effettuino il check-out direttamente utilizzando un metodo di pagamento a loro conosciuto. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "使い慣れた決済方法を使用して、お客様に直接チェックアウトしてもらいましょう。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Permite que os clientes finalizem os pedidos na hora usando um método de pagamento salvo. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": false
    },
    {
      "type": "select",
      "id": "product_form_width",
      "label": {
        "de": "Breite Produktformular",
        "en": "Product form width",
        "es": "Ancho del formulario del producto",
        "fr": "Largeur du formulaire de produit",
        "it": "Larghezza scheda prodotto",
        "ja": "商品のフォームの幅",
        "pt-BR": "Largura do formulário do produto"
      },
      "default": "small",
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fr": "Petite",
            "it": "Small",
            "ja": "小",
            "pt-BR": "Pequeno"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Large",
            "ja": "大",
            "pt-BR": "Grande"
          }
        }
      ]
    }
  ]
}
{% endschema %}
